.home {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

.content {
  width: 370px;
  border: 5px solid #2d4bdc;
  margin: 10px auto;
  padding: 0;
  border-radius: 6%;
}

#root {
  font-family: "arial", sans-serif;
}

div.matrix {
  display: inline-block;
  height: 80%;
  margin-top: 4px;
  width: 98%;
  white-space: pre-wrap;
}

div:focus {
  outline: none;
}

.botones {
  width: 35px;
  height: 35px;
  margin: 2px 3px;
  border-radius: 50%;
  cursor: pointer;
}

.envLed {
  width: 40px;
  height: 40px;
  background: url('../../assets/img/ledIcon.png') no-repeat center center;
  background-size: contain;
  display: inline-block;
  margin: 0px 2px;
  cursor: initial;
  border-radius: 14px;
}

.footer {
  background: gray;
  height: 40px;
  margin-top: -6px;
}

.footer h1 {
  color: white;
  padding: 12px 6px;
  text-align: center;
  font-size: 16px;
  font-family: "arial", sans-serif;
}

button {
  justify-content: center;
  height: 20px;
  cursor: pointer;
}

/* nuevos */
.slider {
  position: relative;
  width: 370px;
  height: 434px;
  overflow: hidden;
  white-space: nowrap;
}

.sliderWrapper {
  position: relative;
  height: 80%;
  width: 382px;
  padding-left: 4px;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.actionsMatrix {
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: space-around;
  background: #dad6d4;
  overflow: hidden;
  width: calc(100% - 10px);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in 0.1s;
}

.nextArrow {
  cursor: pointer;
}

.backArrowLeft {
  cursor: pointer;
}

.backArrowRight {
  cursor: pointer;
}

.fa-arrow-right:before,
.fa-arrow-left:before {
  color: darkgray;
}

.nextArrow:hover .backArrow:hover {
  color: black !important;
}

.botonAlerta {
  cursor: pointer;
  width: 173px;
  height: 25px;
  background: white;
  color: #607d8b;
  font-weight: 800;
}
